<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enregister un nouvel utilisateur</title>
</head>
<body>
<form method="post">
    <label for="email">email</label>
    <input name="email" id="email" required>
    <label for="password">mot de passe</label>
    <input name="password" id="password" required>
    <label for="user_type">type d'accès</label>
    <select name="user_type" id="user_type">
        <option value=1>Revendeur</option>
        <option value=2>Webshop</option>
    </select>
    <input type="submit" value="Register" id="register_btn">
</form>
</body>
</html>